@charset "UTF-8";
@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
@import url(enjoyhint.css);
@import url(modal.css);
* {
    font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #fafafa;
    color: #333;
    font-size: 16px;
    margin: 0;
    position: relative;
}

.title {
    color: #000;
    font-size: 2rem;
    font-weight: 600;
    left: 2rem;
    position: absolute;
    top: 1.5rem;
    text-decoration: none;
}

.input-container {
    display: flex;
}

a:hover {
    cursor: pointer;
}

input,
.btn {
    box-sizing: content-box;
}

.hide {
    display: none !important;
}

.enjoyhint_next_btn,
.enjoyhint_skip_btn {
    color: white;
    background: #1ecd97;
}

.kineticjs-content canvas {
    opacity: 0.7 !important;
}

.enjoy_hint_label {
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem 1.5rem;
    font-weight: 200;
}

.enjoy_hint_label,
.enjoyhint_svg_wrapper,
.enjoyhint_next_btn {
    transition: transform 0.5s ease-in-out;
}

.row {
    display: flex;
    height: 100%;
}

.col {
    position: relative;
}

.col-4 {
    flex-grow: 4;
}

.col-5 {
    flex-grow: 5;
}

.col-3 {
    flex-grow: 3;
}

.overview-wrapper {
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    border-right: 1px solid #dbdbdb;
}
.overview-wrapper .overview-cover {
    background-color: #f0f2f5;
    color: #666;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overview-wrapper .overview-title-wrapper {
    background-color: #fff;
    height: 76px;
    border-bottom: 1px solid #dbdbdb;
}
.overview-wrapper .overview-title-wrapper .overview-title {
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 1.5rem 1.5rem 0;
}
.overview-wrapper .overview-content-wrapper {
    display: flex;
    height: calc(100% - 76px);
}
.overview-wrapper .overview-section-container {
    padding: 1rem 1rem 0 2rem;
    position: relative;
}
.overview-wrapper .overview-section-container.pseudo {
    z-index: 999;
    padding-top: 0.25rem;
    cursor: pointer;
}
.overview-wrapper .overview-section-container.pseudo .overview-section {
    background: transparent;
    padding: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}
.overview-wrapper
    .overview-section-container.pseudo
    .overview-add-section-button {
    background-color: #bdbdbd;
    color: #fff;
    border-radius: 0.75rem;
    font-size: 0.875rem;
    height: 1.25rem;
    width: 1.25rem;
    line-height: 1.25rem;
    left: 0.45rem;
    text-align: center;
    position: absolute;
}
.overview-wrapper
    .overview-section-container.pseudo
    .overview-add-section-button.top {
    top: 0.1rem;
}
.overview-wrapper
    .overview-section-container.pseudo
    .overview-add-section-button.bottom {
    bottom: -1rem;
}
.overview-wrapper
    .overview-section-container.pseudo
    .overview-add-section-button
    .material-icons {
    font-size: 1rem;
    vertical-align: sub;
}
.overview-wrapper .overview-section-container .overview-section {
    background-color: #fff;
    padding: 1rem 1.2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    position: relative;
    transition: margin 0.5s ease;
}
.overview-wrapper .overview-section-container .overview-section-title {
    color: #666;
    font-size: 1.1rem;
}
.overview-wrapper .overview-section-container .overview-section-list {
    padding-left: 1rem;
}
.overview-wrapper .overview-section-container .section-list-item {
    color: #999;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}
.overview-wrapper .overview-section-container .section-list-item.active {
    color: #f44336;
}
.overview-wrapper .overview-section-container.current .overview-section {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}
.overview-wrapper
    .overview-section-container.current
    .overview-section
    .overview-section-list {
    padding-left: 0.5rem;
    margin-top: 1rem;
}
.overview-wrapper .overview-section-container.current .overview-section-title {
    color: #333;
    font-size: 1.2rem;
}
.overview-wrapper .overview-section-container.current .overview-next-button {
    border: 1px solid #f44336;
    border-radius: 0.25rem;
    color: #f44336;
    height: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.5rem;
    position: absolute;
    right: 1rem;
    top: 1.2rem;
    font-size: 0.9rem;
}
.overview-wrapper
    .overview-section-container.current
    .overview-next-button
    .material-icons {
    font-size: 1.25rem;
    line-height: 2rem;
    vertical-align: sub;
}
.overview-wrapper
    .overview-section-container.current
    .overview-next-button
    + .overview-section-title {
    padding-right: 7rem;
}
.overview-wrapper .overview-section-container.current .section-list-item {
    color: #333;
    display: flex;
    font-size: 1rem;
}
.overview-wrapper
    .overview-section-container.current
    .section-list-item
    .list-item-like,
.overview-wrapper
    .overview-section-container.current
    .section-list-item
    .list-item-delete {
    padding: 0.125rem 0;
}
.overview-wrapper
    .overview-section-container.current
    .section-list-item
    .material-icons {
    color: #bdbdbd;
    font-size: 1.375rem;
    margin-right: 0.5rem;
    vertical-align: sub;
}
.overview-wrapper
    .overview-section-container.current
    .section-list-item.active
    .material-icons,
.overview-wrapper
    .overview-section-container.current
    .section-list-item.active
    .section-item-population {
    color: #f44336;
}
.overview-wrapper
    .overview-section-container.current
    .section-list-item.active
    .section-item-bar {
    background-color: #ffeaec;
}
.overview-wrapper
    .overview-section-container.current
    .section-list-item
    .list-item-delete
    .material-icons {
    color: #ff867c;
}
.overview-wrapper
    .overview-section-container.current
    .section-list-item
    .list-item-delete
    .material-icons:hover {
    color: #f44336;
}
.overview-wrapper .overview-section-container.current .section-item-content {
    flex-grow: 1;
    padding: 0.125rem 3.5rem 0.125rem 0.75rem;
    position: relative;
}
.overview-wrapper .overview-section-container.current .section-item-text {
    position: relative;
}
.overview-wrapper
    .overview-section-container.current
    .section-item-bar-wrapper {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
}
.overview-wrapper
    .overview-section-container.current
    .section-item-bar-wrapper
    .section-item-bar {
    background-color: #eee;
    height: 100%;
    width: attr(data-width);
}
.overview-wrapper .overview-section-container.current .section-item-population {
    color: #999;
    font-size: 0.875rem;
    position: absolute;
    right: 0.325rem;
    top: 0.325rem;
}
.overview-wrapper .overview-section-container.current .input-list-new {
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    color: #333;
    font-size: 1rem;
    height: 2.25rem;
    line-height: 2.25rem;
    margin-top: 1rem;
    padding: 0 1rem;
    width: 100%;
}
.overview-wrapper .overview-sections-container {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    position: relative;
}
.overview-wrapper
    .overview-sections-container.moderator
    .overview-section-title:hover {
    cursor: pointer;
}
.overview-wrapper .overview-sections-wrapper {
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 1.5rem;
}
.overview-wrapper .overview-tabs {
    border-right: 1px solid #eee;
    display: flex;
    flex-direction: column;
}
.overview-wrapper .overview-tabs .overview-tab-item-container {
    position: relative;
    padding: 1rem 0 0 2rem;
}
.overview-wrapper .overview-tabs .overview-tab-item {
    color: #999;
    background-color: #fff;
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    text-align: center;
    padding: 0 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    opacity: 0.8;
    position: relative;
}
.overview-wrapper .overview-tabs .overview-tab-item.active {
    color: #f44336;
    font-weight: 600;
    opacity: 1;
}
.overview-wrapper .overview-tabs .overview-tab-item.active:after {
    content: "";
    display: block;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    position: absolute;
    top: 0.35rem;
    right: -1.2rem;
    width: 1.2rem;
}
.overview-wrapper .overview-tabs .overview-tab-item:hover {
    cursor: pointer;
}
.overview-wrapper .overview-tabs .material-icons {
    color: #999;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
}
.overview-wrapper .overview-section-container:not(.current) {
    opacity: 0.8;
}
.overview-wrapper
    .overview-section-container:first-child
    .overview-graphic-line-upper {
    display: none;
}
.overview-wrapper
    .overview-section-container:last-child
    .overview-graphic-line-lower {
    display: none;
}
.overview-wrapper .overview-graphic-line-upper,
.overview-wrapper .overview-graphic-line-lower {
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    left: 1rem;
    position: absolute;
    width: 0;
}
.overview-wrapper .overview-graphic-line-upper {
    top: 0;
    height: 22px;
}
.overview-wrapper .overview-graphic-line-lower {
    top: 22px;
    bottom: 0;
}
.overview-wrapper .overview-graphic-line-hor {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    left: 1rem;
    position: absolute;
    top: 22px;
    width: 1rem;
}

.chatroom-container {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    left: 2rem;
    top: 1.5rem;
    bottom: 2.5rem;
    position: absolute;
    right: 0;
    margin-right: 2rem;
}
.chatroom-container .chatroom-dark-cover {
    background-color: rgba(51, 51, 51, 0.9);
    border-radius: 1rem;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
}
.chatroom-container .chatroom-dark-cover-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 3rem;
}
.chatroom-container .chatroom-cover-text-group {
    margin-bottom: 3.5rem;
    line-height: 1.4;
}
.chatroom-container .cover-subtitle {
    color: #dbdbdb;
    font-size: 1.125rem;
}
.chatroom-container .cover-title {
    color: #fff;
    font-size: 1.675rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.chatroom-container .cover-explanation {
    color: #bdbdbd;
}
.chatroom-container .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.chatroom-container #roomNum {
    display: inline-block;
    height: 3rem;
    padding: 0 0.5rem;
    box-sizing: border-box;
    width: 250px;
    font-size: 0.8rem;
}
.chatroom-container .button-start {
    background-color: #d75d54;
    border-radius: 0.5rem;
    color: #fff;
    display: inline-block;
    height: 3rem;
    line-height: 3rem;
    margin-left: 1rem;
    padding: 0 2.25rem;
}
.chatroom-container .button-start.resume {
    margin-left: 1rem;
    background-color: #999;
}
.chatroom-container .button-start:hover {
    opacity: 0.8;
}
.chatroom-container .chatroom-info-container {
    height: 3rem;
    left: 0;
    padding: 0.35rem 1.5rem 0;
    position: absolute;
    right: 0;
    top: 0;
}
.chatroom-container .user-box {
    align-items: center;
    background-color: #bdbdbd;
    color: #fff;
    display: flex;
    font-weight: 300;
    height: 2.25rem;
    justify-content: center;
    text-align: center;
    width: 2.25rem;
    white-space: nowrap;
    border-radius: 0.5rem;
}
.chatroom-container .user-box.moderator {
    background-color: #f44336;
}
.chatroom-container .user-box.current {
    border: 3.5px solid #ff9800;
    position: relative;
}
.chatroom-container .user-box.current::after {
    content: "나";
    background: #ff9800;
    position: absolute;
    width: 16px;
    height: 16px;
    right: -8px;
    bottom: -6px;
    border-radius: 50%;
    font-size: 0.65rem;
    text-align: center;
}
.chatroom-container .chatroom-users-container {
    position: relative;
}
.chatroom-container .chatroom-users-container .chatroom-info-title {
    font-size: 0.95rem;
    display: flex;
    align-items: flex-end;
    margin-right: 0.5rem;
}
.chatroom-container .chatroom-users-wrapper {
    display: flex;
}
.chatroom-container .chatroom-users-wrapper .user-box {
    margin-right: 0.375rem;
    transform: scale(0.85);
}
.chatroom-container .chatroom-info-title {
    color: #999;
}
.chatroom-container .chatroom-time-container {
    position: absolute;
    top: 0.35rem;
    right: 1.5rem;
}
.chatroom-container .chatroom-time-container .chatroom-info-title {
    display: inline-block;
    margin-right: 0.25rem;
}
.chatroom-container .chatroom-time-container .chatroom-info-content {
    display: inline-block;
    font-size: 1.5rem;
}
.chatroom-container .chatroom-content-container {
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    bottom: 5.5rem;
    left: 0;
    position: absolute;
    right: 0;
    top: 3rem;
}
.chatroom-container .chatroom-chatbox-container {
    bottom: 0;
    height: 5.5rem;
    left: 0;
    position: absolute;
    right: 0;
}
.chatroom-container .chatbox-input-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem 0;
}
.chatroom-container .chatbox-input {
    border: 2px solid #dbdbdb;
    border-radius: 0.375rem;
    font-size: 1rem;
    padding: 0.625rem 1.25rem;
    height: 48px;
}
.chatroom-container .chatbox-sub-text {
    color: #bdbdbd;
    font-size: 0.75rem;
    padding-left: 0.5rem;
}
.chatroom-container .chatroom-content-wrapper {
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 0.75rem 0 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
}
.chatroom-container .feedback-wrapper + .chatroom-content-wrapper {
    bottom: 6.4rem;
}
.chatroom-container .chatroom-utterances-wrapper {
    padding: 0.375rem 1.5rem;
    position: relative;
}
.chatroom-container
    .chatroom-utterances-wrapper
    .chatroom-utterances-container {
    position: relative;
    transform: translateX(0);
    transition: transform 0.3s ease;
}
.chatroom-container
    .chatroom-utterances-wrapper
    .chatroom-utterances-container
    .user-box {
    position: absolute;
}
.chatroom-container .chatroom-utterances-wrapper.moderator {
    background-color: rgba(247, 226, 226, 0.2) !important;
}
.chatroom-container .chatroom-utterances-wrapper.moderator:hover {
    background-color: rgba(247, 226, 226, 0.5) !important;
}
.chatroom-container .chatroom-utterances-wrapper.reply {
    padding-top: 0;
}
.chatroom-container .chatroom-utterances-wrapper:hover {
    background-color: #fafafa;
}
.chatroom-container
    .chatroom-utterances-wrapper:hover
    .chatroom-utterances-text
    .btn-add {
    opacity: 0.88;
}
.chatroom-container .chatroom-utterances-text {
    line-height: 1.6;
    font-size: 0.95rem;
    padding: 0.4rem 1rem;
    margin-left: 2.5rem;
}
.chatroom-container .chatroom-utterances-text .btn-add {
    position: absolute;
    top: 0.25rem;
    height: 2rem;
    right: -0.9rem;
    font-size: 0.8rem;
    display: flex;
    background: #fff;
    color: #4e89f3;
    border: 1px solid #4e89f3;
    white-space: pre-wrap;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
}
.chatroom-container .chatroom-utterances-text .btn-add span {
    width: 5rem;
    border-right: 1px solid #4e89f3;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.chatroom-container .chatroom-utterances-text .btn-add span:last-child {
    border-right: none;
}
.chatroom-container .chatroom-utterances-text .btn-add span:hover {
    background-color: #eee;
    border-radius: 5px;
}
.chatroom-container .chatroom-division {
    text-align: center;
    font-size: 0.75rem;
    color: #999;
    margin: 0.5rem 1rem;
    position: relative;
    z-index: 998;
}
.chatroom-container .chatroom-division span {
    background-color: #fff;
    padding: 0 1rem;
}
.chatroom-container .chatroom-division:after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    top: 50%;
    background: #dbdbdb;
    z-index: -1;
}
.chatroom-container .replies {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
.chatroom-container .replies .replies-container {
    display: flex;
}
.chatroom-container .replies i {
    margin: 0.5rem -1.2rem 0 1rem;
    color: #999;
}
.chatroom-container .replies .chatroom-utterances-wrapper:hover {
    background-color: inherit;
}
.chatroom-container .replies .chatroom-utterances-wrapper:before {
    content: none;
}
.chatroom-container .feedback {
    padding: 0.375rem 0 0.375rem 3.5rem;
    display: flex;
}
.chatroom-container .feedback .btn {
    background-color: #4e89f3;
    border-radius: 0.75rem;
    color: #fff;
    font-size: 0.85rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.25rem;
}
.chatroom-container .feedback .btn .header {
    opacity: 0.8;
}

.feedback-wrapper {
    background-color: #f0f2f5;
    width: 100%;
    height: 6.4rem;
    display: flex;
    position: absolute;
    bottom: 0;
    padding: 0.8rem 3rem 0.5rem 1rem;
}
.feedback-wrapper .feedback-more {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    width: 2rem;
    height: 2rem;
}
.feedback-wrapper .feedback-more .button {
    border-bottom: none !important;
}
.feedback-wrapper .feedback-more:before {
    position: absolute;
    content: "more_horiz";
    text-align: center;
    line-height: 2rem;
    font-size: 1.5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    background: #f0f2f5;
    z-index: 997;
    border-radius: 5px;
}
.feedback-wrapper .feedback-more:hover:before {
    background: #bdbdbd;
}
.feedback-wrapper .material-icons {
    font-size: inherit !important;
}
.feedback-wrapper .feedback-card {
    display: flex;
    align-items: center;
    order: 99;
    background-color: #4e89f3;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;
    color: #fff;
    position: relative;
    z-index: 999;
    line-height: 1.4;
    transition: all 0.5s ease;
    cursor: pointer;
    transform: scale(1);
    max-width: 100%;
    min-width: 200px;
}
.feedback-wrapper .feedback-card.clicked {
    opacity: 0.8;
    width: 150px;
}
.feedback-wrapper .feedback-card.complete {
    opacity: 0;
    line-height: 0;
    padding: 0;
    margin-right: 0 !important;
    transform: scale(0);
    min-width: 0;
}
.feedback-wrapper .feedback-card:not(:last-child) {
    margin-right: 0.65rem;
}
.feedback-wrapper .feedback-card .feedback-card-close {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    background: #999;
    line-height: 0;
    border-radius: 50%;
    opacity: 0.9;
}
.feedback-wrapper
    .feedback-card:hover
    .feedback-card-message.tooltip
    ~ .feedback-card-tooltip {
    position: absolute;
    top: -5rem;
    background: rgba(0, 0, 0, 0.85);
    z-index: 999;
    padding: 0.5rem 1rem;
    height: 4.2rem;
    font-size: 0.85rem;
    min-width: 6rem;
    max-width: 95%;
    display: flex;
    border-radius: 0.5rem;
}
.feedback-wrapper
    .feedback-card:hover
    .feedback-card-message.tooltip
    ~ .feedback-card-tooltip:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.85);
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}
.feedback-wrapper .feedback-card .feedback-card-before {
    overflow: hidden;
}
.feedback-wrapper .feedback-card .feedback-card-before .feedback-card-message {
    margin-bottom: 0.2rem;
    font-size: 0.96rem;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.feedback-wrapper .feedback-card .feedback-card-before .feedback-card-tooltip {
    display: none;
}
.feedback-wrapper .feedback-card .feedback-card-reason {
    font-size: 0.785rem;
    font-weight: 300;
    opacity: 0.7;
}
.feedback-wrapper .feedback-default {
    position: absolute;
    align-self: center;
    text-align: center;
    width: 100%;
    color: #999;
}
.feedback-wrapper input[type="radio"] {
    display: none;
}
.feedback-wrapper input[type="radio"]:checked + label {
    background: #f0f2f5;
}
.feedback-wrapper input[type="radio"]:checked + label + .tab {
    display: block;
}
.feedback-wrapper label {
    order: 1;
    display: block;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    background: #999;
    margin-top: -2rem;
    z-index: 999;
}

.acx-overlay-container > .pane {
    width: 436px !important;
}

.options-list .item {
    cursor: pointer;
    padding: 2.5px 20px;
}

.search {
    border-top: 1px solid #efefef;
    padding-top: 0.5rem;
}

#show-video {
    max-width: 65vw !important;
}

.feedback-more {
    cursor: pointer;
}
.feedback-more #dropdown {
    position: absolute;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1201;
    top: -250px;
    height: 280px;
    left: -380px;
    width: 410px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.feedback-more #dropdown .dropdown-option {
    padding: 0.65rem 1.2rem;
}
.feedback-more #dropdown .dropdown-option:hover {
    cursor: pointer;
    background: #efefef;
}
